@keyframes masked-animation {
	0% {transform: scale(1) rotate(0);}
	25% {transform: scale(1.50) rotate(0.050deg);}
	50% {transform: scale(1) rotate(0.1deg);}
	75% {transform: scale(1.50) rotate(0.050deg);}
	100% {transform: scale(1) rotate(0);}
	
}