.index{
	background:white;
	.container{
		background:white;
		text-align:center;
		
		h2.rocket{
			background:url('/images/h1.icon.apollo.png')
			width:103px;
			height:103px;
			background-size:100% 100%;
			margin:0px auto;
			margin-bottom:15px;
		
		}
		.copy{
			text-align:center;
			margin:0px auto;
			color:black;
			margin-top: 10%;
			h1{
				font-size: 83px;
				color:white;
			}
			button{
				position:relative;
				z-index:999999;
				margin-top:15px;
				font-family: 'latolight';
				transition: 0.5s all;
				border:1px solid black;
				
				background:white;
					color:black;
				&:hover{
					
					background:black;
					color:white;
				}
			}
		}
		p{
			color: rgba(255,255,255,0.4);
			font-family: 'latohairline';
			padding-bottom:10px;
			position: fixed;
			bottom: 0;
			margin: 0px auto;
			display: block;
			width: inherit;
			font-size: 13px;
			letter-spacing: 4px;
		}
		
	    .gradient_cover{
			height:100%;
			width:100%;
			position: fixed;
			bottom: 0;
			left: 0;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			z-index:-1;
			
		
		}
	}
	
}