extends layout
block content
	.container.home
		.row
			.col-lg-12.copy
				div
					h2.rocket.ir Rocket
					h1 APOLLO PLAYER
					form(role='form', action="/",method="post")#login_form
						.form-group
							input.form-control(type='text', name="username", placeholder='Enter your name')
						.form-group
							input.form-control(type='hidden', name="password", value="dummy", placeholder='dummy')
						button.btn.btn-default(type='submit')#login	 Submit
		.row
			.col-lg-12
		.album_bg
		.gradient_cover
			
		
