extends layout
block content
    #perspective.perspective.effect-airbnb
        .container
            .wrapper
                .row.heading
                    .col-md-2.col-sm-1.menu_holder
                        button#showMenu
                    .col-lg-2.col-md-2.col-sm-3.col-lg-offset-8.col-md-offset-8.col-sm-offset-8.rocket_holder
                        .heading
                            h2.rocket 
                                &#128640
                            h2.logo APOLLO

                .row.current_track  

                .row.playlist
                    .col-md-12.tracks.col-lg-offset-0.col-lg-12
                        
            .album_bg
            .gradient_cover  
            .bomb_animation#bomb   
        div.search_container
            div.outer-nav.left.vertical                    
                //- profile goes here
                section.search.row
                    .col-lg-10.form_holder
                    .col-lg-12.results_details_holder
                    .col-lg-12.results_col
                        #results
                            div.thead
                                table.table.table-striped
                                    thead
                                        tr
                                            th.name Track
                                            th.album Album
                                            th.artist Artist
                                            th.add Add
                            div.scroll
                                table.table.table-striped#results_holder
                                    tbody
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td 
                                                
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td
                                                
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td
                                                
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td
                                                
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td
                                                
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td
                                                
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td
                                                
                                        tr 
                                            td 
                                            td 
                                            td 
                                            td
                                span.loader Loading
                    
                                            
        
