script(type='text/x-handlebars-template', id='profile-template')
    .col-lg-1
        .avatar
            a.logout(href="/logout")
            img.profileimage(src="images/apollo.png")
    .col-lg-8.col-lg-offset-0.col-xs-push-1
        .copy.row
            h1.username {{this.name}}

