script(type='text/x-handlebars-template', id='result-template')
    td.name 
        a.preview_popup(href="https://embed.spotify.com/?uri={{this.uri}}", title="Preview Track") {{this.name}}
    td.album {{this.album.name}}
    td.artist {{this.artists.0.name}}
    td.add 
      a.glyphicon.glyphicon-plus-sign.addtrack(data-spotifyuri="{{this.uri}}", href="#")
