script(type='text/x-handlebars-template', id='search-form-template')
	.input-append
		input#search-query-1.span2.search-query(type='text', placeholder='Search')
		button.btn(type='submit')
			span.fui-search